// Define variables for your color scheme

// For example:
$red: #e84545;
$dark-red: #903749;
$blue: #167FFB;
$yellow: #FFC65A;
$orange: #E67E22;
$green: #1EDD88;
$gray: #0E0000;
$light-gray: #F4F4F4;

$dark: #11131f;
$blue-ocean: #08d9d6;
$pink:rgba(116,37,100,1);
$gray-light: #eaeaea;
$blue-gradient: linear-gradient(180deg, #903749 0%, #e84545 100%);
$gray2: #eaeaea9c;
