.info-cv {
  padding: 0px 42px 0px 160px;
  h4 {
    strong {
      font-size: 25px;
      text-decoration: none;
      background: linear-gradient(to top, $pink, $red);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }
    a {
      color: #f3e5f5;
    }
  }
}

.info-box {
  margin: 50px 0px 0px 0px;
  h3 {
    padding: 0px 42px 0px 160px;
  }
}


.skill-box {
    border-radius: 8px;
    box-shadow: 2px 2px 2px #0000007a;
    margin: 15px;
    padding: 15px;
    background-color: #07011770;
    ul {
      list-style: none;
    }
  }

.box-cv {
  padding: 20px 42px 20px 42px;
  margin: 0px 0px 0px 80px;
}

.skill-list {
  min-width: 750px;
  i {
    font-size: 50px;
    background: linear-gradient(to top, $pink, $red);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
  }
}

.skill-item {
  padding: 10px;
  text-align: center;
  margin: 30px 0px;
  i {
    margin: 20px 0px;
  }
  p {
    font-family: $skill;
    font-size: 14px;
    color: #ffffff85;
    font-weight: 400;
    margin: 0px;
  }
}

.col.mockup-item {
    max-width: 40%;
}

.btn-cv {
  min-width: 170px;
  position: absolute;
  right: 0px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 12%;
  height: 50px;
  margin-right: 60px;
  padding: 1px 1px;
  box-sizing: border-box;
  $border: 1px;
  background: $dark;
  background-clip: padding-box; /* !importanté */
  border: solid $border transparent; /* !importanté */
  border-radius: 4px;
  a {
  text-decoration: none;
  background: linear-gradient(to top, $pink, $red);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  &:before {
    content: '';
    position: absolute;
    top: 0; right: 0; bottom: 0; left: 0;
    z-index: -1;
    margin: -$border; /* !importanté */
    border-radius: inherit; /* !importanté */
    background: linear-gradient(to bottom, $pink, $red);
  }
}
