.contact-form {
    margin: 70px 170px;
    padding-left: 115px;
    max-width: 700px;
    .gradient-btn {
      width: 100%;
      top: 21px;
    }
}

@media (min-width: 1250px) {
  .contact-form {
    margin: 70px 270px ;
  }
}
