

.project-box {
  display: flex;
  margin: 75px 90px 190px 90px;
}

.mockup-box {
  display: flex;
  padding-left: 50px;
}

.mockup-item {
  max-width: 250px;
}

.laptop-box{
  max-width: 964px;
  max-height: 1050px;
}

.laptop-item-1 {
  position: relative;
  bottom: 105px;
}

.laptop-item-2 {
  position: relative;
  bottom: 345px;
}

.project-description-1 {
  // position: absolute;
  max-width: 360px;
  min-width: 300px;
  padding: 30px 50px 0px 0px;
  p {
    text-align: right;
  }
  .gradient-btn {
    min-width: 130px;
    max-width: 130px;
    a {
      width: 100vh;
      height: 45px;
      display: flex;
      justify-content: center;
      bottom: -9px;
      position: relative;
    }
  }
}

.project-description-2 {
  // position: absolute;
  max-width: 420px;
  min-width: 330px;
  margin-right: 40px;
  padding: 30px 0px 0px 50px;
  h2 {
    text-align: left;
  }
  p {
    text-align: left;
  }
  .gradient-btn {
    min-width: 130px;
    max-width: 130px;
    a {
      width: 100vh;
      height: 45px;
      display: flex;
      justify-content: center;
      bottom: -9px;
      position: relative;
    }
  }
}



// // Medium devices (tablets, 768px and up)
// @media (max-width: 768px) { ... }

// // Large devices (desktops, 992px and up)
// @media (max-width: 992px) {

// }

// // Extra large devices (large desktops, 1200px and up)
// @media (max-width: 1200px) { ... }



