<div class="container-all">

  <div class="title">
    <h1>About me</h1>
  </div>

  <div class="info-cv">
    <h4><strong>👉 </strong>Currently working <a target="_blank" href="https://www.lewagon.com">@lewagon</a> as a teacher assistant.</h4>
    <!-- <h4>Looking for a new challenge as a full-stack web developper and become the most sharp tool for my firm.</h4> -->
  </div>

  <div class="box-cv">
    <!-- <div class="skill-box">
      <h2>Tech exeperience</h2>
      <p>Teacher Assistant - Le Wagon Paris • 2020 </p>
    </div> -->
    <div class="skill-list">
      <div class="row">
        <div class="col skill-item">
          <i class="far fa-gem"></i>
          <p>Ruby on Rails</p>
        </div>

        <div class="col skill-item">
          <i class="fas fa-cogs"></i>
          <p>APIs, JSON scrapping</p>
        </div>

        <div class="col skill-item">
          <i class="fas fa-database"></i>
          <p>Relational databases</p>
          <p>SQL, Postgres</p>
        </div>
      </div>

      <div class="row">
        <div class="col skill-item">
          <i class="fas fa-brush"></i>
          <p>HTML, CSS, Bootsrap</p>
        </div>

        <div class="col skill-item">
          <i class="fab fa-js"></i>
          <p>ES6 Javascript</p>
        </div>

        <div class="col skill-item">
          <i class="fas fa-code-branch"></i>
          <p>Git, Github</p>
        </div>
      </div>
    </div>



  </div>

</div>
