<div class="container-home">
  <div class="row col-12">

    <div class="title-home">
      <h1>Hi,</h1>
      <h1>I'm Fanny,</h1>
      <h1>web developer.</h1>
    </div>
    <div>
      <h3>Full-stack Web Developer | Ruby On Rails 🚀</h3>
    </div>
  </div>
</div>
