<div style="padding-left: 200px" class="container-all">

  <div class="title">
    <h1>Contact</h1>
  </div>
  <div class="contact-form">
    <%= render 'form', email_contact: @email_contact %>
  </div>
</div>
