.gradient-btn {
  input {
    width: 100vh;
    text-decoration: none;
    background: linear-gradient(to top, $pink, $red);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
}
