.navbar {
  background: #070117;
  width: 80px;
  height: 100%;
  position: fixed;
  top: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  z-index: 3;
  min-height: 500px;
  box-shadow: 1px 1px 1px #070117;
}



.navbar {
  .nav-icon {
    display: block;
    text-align: center;
    position: absolute;
    .navbar-icon-box {
      color: #ffffff2b;
    }
    a {
      color: $gray-light;
      font-size: 30px;
      transition: 0.4s font-size ease-in-out;
      margin-bottom: 25px;
      display: block;
      line-height: 51px;
      height: 51px;
      position: relative;
      text-decoration: none;
    }
    a:hover {
      font-size: 44px;
    }
  }
  .navbar-icon-box-active {
    i {
      font-size: 44px;
      transition: 0.4s font-size ease-in-out;
      color: white;
      background: linear-gradient(to top, $pink, $red);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
    }
    p {
      background: linear-gradient(to top, $pink, $red);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
    }
  }

  .nav-icon {
    top: 30%;
  }

  .nav-link {
    list-style: none;
    position: absolute;
    bottom: 12%;
    text-align: center;
    a {
      font-size: 25px;
      transition: 0.4s font-size ease-in-out;
      margin-bottom: 0px;
      background: linear-gradient(to top, $pink, $red);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
    }
     a:hover {
      font-size: 35px;
    }
  }

}

nav#github-icon {
  bottom: 7%;
}




.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

