.title-home {
  text-shadow: 2px 1px 1px #e84545;
  font-weight: 300;
  color: $gray-light;
  margin-bottom: 20px;
  h1 {
    color: $gray-light;
    font-size: 400%;
  }
}

body {
  color : $gray-light;
  font-weight: 200;
}

h1 {
  font-weight: 300;
  font-size: 400%;
  color: $gray-light;
  text-shadow: 2px 1px 1px #e84545;
}

h2  {
 background: linear-gradient(to top, $pink, $red);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
  font-weight: 100;
  font-size: 45px;
  text-align: right;
  margin-bottom: 50px;
}

h3 {
  color:  #eaeaea99;
  font-weight: 100;
  font-size: 18px;
}

p {
  color: #ffffff6b;
  font-size: 16px;
}

.container-home {
  display: flex;
  align-items: center;
  height: 100vh;
  margin-left: 170px;
}

.container {
  height: 100vh;
  margin-top: 80px;
}
