<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <p>You got a new email from <%= @email_contact.email %>!</p>
    <br>
    --------------------------
    <p>Message: <%= @email_contact.email %></p>

    ----------
  </body>
</html>
